header {
  display: flex;
  padding: 1em 1.5em;
  justify-content: space-between;
}

.hero {
  text-align: center;
  padding-bottom: 3.5em;
}
.hero__image {
  height: 300px;
  background: url("../challenge_assets/images/image-mockups.png") bottom no-repeat, url("../challenge_assets/images/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  margin-bottom: 0;
}

.menu {
  width: 40px;
  background: url("../challenge_assets/images/icon-hamburger.svg") no-repeat center;
}

.why {
  text-align: center;
  background: var(--light-grayish-blue);
  padding-top: 2em;
}
.why .text {
  margin-bottom: 4em;
}
.why__item img {
  margin-bottom: 1.5em;
}
.why__item .text {
  margin-bottom: 2em;
}

.latest-articles {
  background: var(--white);
}
.latest-articles h2 {
  text-align: center;
}
.latest-articles__grid {
  padding: 2em 0;
  display: grid;
  grid-row-gap: 2em;
}
.latest-articles__item {
  border-radius: 8px;
  overflow: hidden;
  background: var(--white);
}
.latest-articles__item--content {
  padding: 1.5em;
}
.latest-articles__item img {
  object-fit: cover;
}
.latest-articles__item small {
  color: var(--grayish-blue);
  display: block;
  margin-bottom: 1em;
}
.latest-articles__item p {
  margin-bottom: 0;
}
.latest-articles__item .text {
  color: var(--grayish-blue);
}

.footer {
  background: var(--dark-blue);
  color: var(--white);
  padding: 2em 0;
  text-align: center;
}
.footer svg {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(5, 25px);
  grid-column-gap: 1em;
  justify-content: center;
  margin: 2.5em 0;
}
.footer__link {
  display: block;
  color: var(--light-grayish-blue);
  text-decoration: none;
  margin: 1.5em;
}
.footer .button {
  margin: 2em 0;
}
.footer__copyright {
  color: var(--grayish-blue);
}

.icon__facebook {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../challenge_assets/images/icon-facebook.svg");
}
.icon__youtube {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../challenge_assets/images/icon-youtube.svg");
}
.icon__twitter {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../challenge_assets/images/icon-twitter.svg");
}
.icon__pinterest {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../challenge_assets/images/icon-pinterest.svg");
}
.icon__instagram {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../challenge_assets/images/icon-instagram.svg");
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 16px;
}

body {
  margin: 0;
  color: var(--grayish-blue);
}

body, button {
  font-family: "Public Sans", sans-serif;
}

.is-hidden {
  display: none !important;
}

.container {
  padding: 1.8em 1.7em;
}

.button {
  padding: 1.1em 2.4em;
  border-radius: 25px;
  background-image: linear-gradient(to right, var(--lime-green) 0%, var(--bright-cyan) 100%);
  border: none;
  color: var(--white);
  font-weight: bold;
  font-size: 0.9em;
}

.title__h1 {
  margin-top: 0;
  font-size: 2.4em;
  font-weight: 300;
  color: var(--dark-blue);
  margin-bottom: 0;
}
.title__h2 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: 300;
  color: var(--dark-blue);
  margin-bottom: 0;
}
.title__h3 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: 300;
  color: var(--dark-blue);
  margin-bottom: 0;
}

.text {
  font-size: 0.9em;
  line-height: 23px;
  margin-bottom: 2em;
  margin-top: 1.3em;
  text-align: justify;
}

/*# sourceMappingURL=styles.css.map */
