.why {
  text-align: center;
  background: var(--light-grayish-blue);
  padding-top: 2em;

  .text {
    margin-bottom: 4em;
  }

  &__item {

    img {
      margin-bottom: 1.5em;
    }

    .text {
      margin-bottom: 2em;
    }

  }

}